/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 color: #000000;
 background-color: #ffffff;
}
span.rvts12
{
 font-style: italic;
 color: #000000;
 background-color: #ffffff;
}
span.rvts13
{
 font-weight: bold;
 color: #000000;
 background-color: #ffffff;
}
span.rvts14
{
 font-size: 16pt;
 font-weight: bold;
 color: #000000;
}
span.rvts15
{
 color: #333333;
 background-color: #ffffff;
}
a.rvts16, span.rvts16
{
 color: #000000;
 background-color: #ffffff;
 text-decoration: underline;
}
span.rvts17 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts18, span.rvts18 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
a.rvts19, span.rvts19
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts20
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts21
{
 font-weight: bold;
}
span.rvts22
{
 font-style: italic;
}
span.rvts23
{
 font-style: italic;
 font-weight: bold;
}
span.rvts24
{
 font-size: 12pt;
 font-weight: bold;
 color: #ff0000;
}
span.rvts25
{
 font-weight: bold;
 text-decoration: underline;
}
span.rvts26
{
 font-weight: bold;
 color: #ff0000;
}
span.rvts27
{
 font-weight: bold;
 color: #00b050;
}
span.rvts28
{
 font-weight: bold;
 color: #c00000;
}
span.rvts29
{
 font-size: 8pt;
}
span.rvts30
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts31
{
 font-size: 12pt;
}
span.rvts32
{
 color: #24292e;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 margin: 0px 0px 0px 24px;
}
.rvps5
{
 text-align: left;
 text-indent: 0px;
 background: #ffffff;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps6
{
 text-align: left;
 text-indent: 48px;
 background: #ffffff;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps7 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps8
{
 background: #ffffff;
}
.rvps9
{
 background: #ffffff;
 margin: 0px 0px 0px 72px;
}
.rvps10
{
 margin: 0px 0px 0px 48px;
}
.rvps11
{
 margin: 0px 0px 0px 192px;
}
.rvps12
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps13
{
 text-indent: 48px;
}
.rvps14
{
 margin: 0px 0px 16px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: decimal;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 20px; list-style-position: outside; list-style-type: circle;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 20px; list-style-position: outside; list-style-type: square;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: decimal;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
