.properties-form i {
  font-weight: normal;
}
.properties-form i.icon {
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 360px;
  background: #02A9F4;
  color: #F1F1F1;
  font-size: 56px;
  transition: all .3s;
}
.properties-form {
  position: absolute;
  left: calc(100% / 2 - 340px);
  top: 10px;
  height: 630px;
  width: 685px;
  border-radius: 5px;
  background: #F5F5F5;
  overflow:hidden;
  visibility: hidden;
  z-index: 1300;
}
.window-controls {
  user-select: none;
  display: flex;
  justify-content: flex-end;
  padding: 10px 5px 10px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: rgb(62,62,62);
  color: white;
}
.window-controls i {
  font-size: 16px;
  margin-left: 5px;
}

#form-name {
  position: absolute;
  top: 5px;
  left: 15px;
  width: auto;
  text-align: center;
  background: rgb(62,62,62);
  color: white;
}

#properties-content {
  padding:0;
  border:0;
  height:100%;
  background: rgb(95,95,95);
}

#properties-tabs {
  height: auto;
  background: rgb(95,95,95);
}

#properties-main {
  height: calc(100% - 115px);
  width: 100%;
  margin-top: 15px;
  overflow:auto;
}

.component-left {
  margin-left: 25px;
  margin-right: 25px;
}

.component-top {
  margin-top: 15px;
}

.component-maxtop {
  margin-top: 25px;
}

.component-mini {
  margin-top: 5px;
}

.x-input-maxtop {
  margin-top: 25px;
}

.input-white {
  color: white;
}

.x-label-title {
  color: white;
  margin-top: 15px;
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Fjalla One',sans-serif;
}

.x-label-normal {
  color: white;
  font-size: 12px;
  font-family: 'Fjalla One',sans-serif;
}

.x-label-voice {
  font-size: 12px;
  font-family: 'Fjalla One',sans-serif;
}

.x-label-mini {
  color: white;
  font-size: 10px;
  font-family: 'Fjalla One',sans-serif;
}

.x-label-bold {
  font-weight: bold;
}


.input-label-voices {
  float: left;
  width: 250px;
  height: 25px;
  font-size: 12px;
}

.voices-test {
  width: 100%;
  height: auto;
  display: inline-block;
}

.voice-button {
  float: left;
  min-height: 25px;
  display: inline-block;
  margin-right: 10px;
}


x-input x-label {
  color: white;
}

x-numberinput {
  text-align: center;
  height: 25px;
}

.speech-voice {
  max-width: 100%;
  height: 25px;
}

#voice-current {
  max-width: 300px;
  height: 25px;
}

.mgr-button {
  margin: 0px auto;
  width:220px;
  height: auto;
}


#save {
  float: left;
}

#cancel {
  float: right;
}
